/*This is my css file to style my static website */
body {
font-family: "Open Sans", sans-serif;
}

h1 {
color: #000000;
}

#header {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #00b285;
}
.red_bold {
  color: #ff0000;
  font-weight: bold;
}
